<div class="col-md-8 main-content">
    <header class="header-section">
        <h1 class="name"><span class="first-name"></span><span class="surname"></span>
        </h1>   
        <p class="title">Web Design & Developer</p>
       
        <div class="intro-section">
            <h2 class="intro-title">Hello, I'm Laura</h2>
            <p class="intro-text">
                My Name Is Laura Anderson lorem empus id fringilla molestie ornare diam in olestie ipsum
                etium rosn ollicitudin est, porttitor amet hitmassa Done cporttitor dolor shit dolor kiren
                lorem nisl molestie pretium effring, is the shitp lorem ipsum returncl amet is tudinest.moles
                tum lorem olestie pretium apaza all the rosen, fringilla lorem ipsum .
            </p>
        </div>
    </header>


