@use'variables/variables.scss' as *;
// Sidebar styles
@use'sidebar/sidebar.scss';
// Main content styles
@use'main-content/main-content.scss';
//footer styles
@use'footer/footer.scss';
//fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

// Global styles
body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.6;
  color: $text-dark;
  display: flex;
}

.container-fluid > .row {
  display: flex;
 
}



