@use'../variables/variables.scss' as *;

.main-content {
    background-color: $main-bg;
    width: 750px;
  
    .header-section {
      padding: 0rem 3rem 0rem 3rem;
      background-color: white;
      margin-top: 5.1rem;
      line-height: 1.3;
  
      .name {
        font-size: 3rem;
        font-weight: 300;
        margin-bottom: 0;
        color: $text-light;
        letter-spacing: 7;
        font-family: "Inter", sans-serif;
        
      }
  
      .first-name {
        font-weight: 300;     
      }
  
      .surname {
        font-weight: bold;
        color: $text-dark;
      }
  
    
      }
  
      .title {
        font-size: 1.4rem;
        color: $text-description;
        margin-top: 0;
        margin-bottom: 1rem;
        letter-spacing: 1.4px;
      }
  
      
  
      .intro-section {
        .intro-title {
          font-size: 1.8rem;
          font-weight: 700;
          color: $text-dark;
          margin-bottom: 0;
        }
  
        .intro-text {
          color: $text-description;
          line-height: 1.3;
          margin-top: 0;
          margin-bottom: 0.4rem;
          font-size: 1rem;
          text-align: justify;
        }
      }
    }
  
    .main-content-area {
      padding: 2rem 3rem;
    }
  
    .main-section-title {
      font-size: 1.5rem;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      color: $text-dark;
      margin-top: 0;
      margin-bottom: 1rem;
      border-bottom: 3px solid $text-dark;
      letter-spacing: 1px;
      cursor: pointer;

      i {
        transition: transform 0.3s ease;
        display: inline-block;
      }

      i.rotated {
        transform: rotate(180deg);
      }
    }

    .education {
      font-size: 1.5rem;
      font-weight: bold;
      color: $text-dark;
      margin-top: 6.2rem;
      margin-bottom: 0.6rem;
      border-bottom: 3px solid $text-dark;
      letter-spacing: 1px;
      cursor: pointer;

      i {
        transition: transform 0.3s ease;
        display: inline-block;
      }

      i.rotated {
        transform: rotate(180deg);
      }
    }

    .timeline-item {
      display: flex;
      margin-bottom: 10px;
      position: relative;
      line-height: 1.5;

      &.section-content-hidden {
        display: none !important;
      }
  
      &:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 9px;
        top: calc(1.7rem + 16px);
        width: 2px;
        height: calc(100% + 10px);
        background-color: $text-dark;
      }
  
      &:last-child::after {
        content: '';
        position: absolute;
        left: 9px;
        top: calc(1.7rem + 16px);
        width: 2px;
        height: 60px;
        background-color: $text-dark;
      }
  
      .timeline-marker {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid $text-dark;
        background-color: #f6f6f6;
        margin-right: 1.5rem;
        margin-top: 1.5rem;
        flex-shrink: 0;
        position: relative;
      }
  
      .timeline-content {
        flex: 1;
  
        .job-header {
          display: flex;
  
          .job-title {
            min-width: 200px;

            h3, h4 {
              font-family: "Open Sans", sans-serif;
            }
  
            h3 {
              font-size: 1.05rem;
              font-weight: bold;
              color: $text-dark;
              margin-bottom: 0;
            }
  
            h4 {  
              font-size: 1.1rem;
              font-weight: bold;
              font-size: medium;
              margin-top: 0;
              color: $text-dark;
              margin-top: 0;
              margin-bottom: 0;
            }
            
            p {
              font-size: 0.9rem;
              color: $text-light;
              line-height: 1.3;
              margin: 0;
            }
  
            .job-date {
              font-size: 0.9rem;
              color: $text-light;
              margin: 0;
            }
          }
  
          .company-info {
            flex: 1;
  
            h4 {
              font-size: 1.1rem;
              font-weight: bold;
              color: $text-dark;
              margin-bottom: 0;
            }
  
            p {
              font-size: 0.95rem;
              color: $text-description;
              text-align: justify;
              line-height: 1.3;
              margin: 0;
            }
          }
        }
      }
    }
  