@use'../variables/variables.scss' as *;

.references-section {
    padding: 2rem 3rem;
    background-color: white;

    .reference-item {
      display: flex;
      margin-bottom: 2rem;
      position: relative;

      .timeline-marker {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 3px solid $text-dark;
        background-color: #f6f6f6;
        margin-right: 1.5rem;
        margin-top: 1.5rem;
        flex-shrink: 0;
        position: relative;
      }

      &:not(:last-child)::after {
        content: '';
        position: absolute;
        left: 9px;
        top: calc(1.7rem + 16px);
        width: 2px;
        height: calc(100% + 2rem);
        background-color: $text-dark;
      }

      &:last-child::after {
        content: '';
        position: absolute;
        left: 9px;
        top: calc(1.7rem + 16px);
        width: 2px;
        height: 60px;
        background-color: $text-dark;
      }

      .reference-content {
        flex: 1;

        .reference-header {
          display: flex;

          .reference-name {
            min-width: 200px;
            line-height: 1.3;

            h3 {
              font-size: 1rem;
              font-weight: bold;
              color: $text-dark;
              margin-bottom: 0.2rem;
            }

            .reference-title {
              font-size: 0.9rem;
              color: $text-light;
              margin: 0;
            }
          }

          .reference-company {
            flex: 1;

            h4 {
              font-size: 1.1rem;
              font-weight: bold;
              color: $text-dark;
              margin-bottom: 0;
            }


            p {
              font-size: 0.95rem;
              color: $text-description;
              line-height: 1.3;
              margin-top: 0;
              margin-bottom: 0;
              text-align: justify;
    

             &:last-child {
                margin-top: 0;
               margin-bottom: 0;
             }
            }

           
          }
        }
      }
    }
  }
